/* dark-login.css */

/* Root style for the application */
.root {
    -fx-background-color: #2e2e2e; /* Dark background color */
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 13; /* Relative font size */
    -fx-text-fill: white; /* Default text color */
}

/* Header Label */
.header-label {
    -fx-text-fill: #64B5F6; /* Light blue text color */
    -fx-font-size: 1.5em; /* Relative font size */
    -fx-font-weight: bold;
}

.toggle-button{
    -fx-text-fill: white;
}

/* Label styles */
.label {
    -fx-font-size: 1em; /* Relative font size */
    -fx-font-weight: bold;
    -fx-text-fill: white; /* Text color */
}
#messageText{
    -fx-text-fill: #ff3333;
}

/* JFXTextField styles */
.jfx-text-field {
    -jfx-focus-color: #64B5F6; /* Blue focus color */
    -jfx-unfocus-color: #BDBDBD; /* Light grey for unfocused state */
    -fx-prompt-text-fill: #BDBDBD; /* Light grey prompt text */
    -fx-text-fill: white; /* Text color */
    -fx-background-color: #424242; /* Dark grey background */
    -fx-font-size: 1em; /* Relative font size */
}

/* Hyperlink styles */
.hyperlink {
    -fx-text-fill: #64B5F6; /* Light blue color */
    -fx-font-size: 1em; /* Relative font size */
}

.hyperlink:hover {
    -fx-text-fill: #42A5F5; /* Lighter blue on hover */
}

/* Button styles */
.button {
    -fx-background-color: #64B5F6; /* Light blue color */
    -fx-text-fill: white; /* Text color */
    -fx-font-size: 1.2em; /* Relative font size */
    -fx-font-weight: bold;
    -fx-background-radius: 4; /* Rounded corners */
    -fx-padding: 0.8em 1.5em; /* Relative padding */
}

.button:hover {
    -fx-background-color: #42A5F5; /* Lighter blue on hover */
}

/* HBox and VBox styles */
.vbox {
    -fx-spacing: 1em; /* Relative spacing */
}

#sideBox {
    -fx-background-color: #001943; /* Dark blue background */
}