/* dark-login.css */

/* Root style for the application */
.root {
    -fx-background-color: #2e2e2e; /* Dark background color */
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: white; /* Default text color */
}

.header-label {
    -fx-text-fill: #64B5F6;
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
}

.toggle-button{
    -fx-text-fill: white;
}


.label {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#messageText{
    -fx-text-fill: #ff3333;
}

.jfx-text-field {
    -jfx-focus-color: #64B5F6;
    -jfx-unfocus-color: #BDBDBD;
    -fx-prompt-text-fill: #BDBDBD;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.jfx-password-field {
    -jfx-focus-color: #64B5F6;
    -jfx-unfocus-color: #BDBDBD;
    -fx-prompt-text-fill: #BDBDBD;
    -fx-text-fill: white;
    -fx-font-size: 1em;
}

.hyperlink {
    -fx-text-fill: #64B5F6;
    -fx-font-size: 1em;
}

.hyperlink:hover {
    -fx-text-fill: #42A5F5;
}

.button {
    -fx-background-color: #64B5F6;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-padding: 0.8em 1.5em;
}

.button:hover {
    -fx-background-color: #42A5F5;
}


.vbox {
    -fx-spacing: 1em;
}

#sideBox {
    -fx-background-color: #333333;
}