/* login.css */

/* Root style for the application */
.root {
    -fx-background-color: white;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: Black;
}

/* Header Label */
.header-label {
    -fx-text-fill: #0A74DA;
    -fx-font-size: 1.5em; /* Relative font size */
    -fx-font-weight: bold;
}

/* Label styles */
.label {
    -fx-font-size: 1em; /* Relative font size */
    -fx-font-weight: bold;
}

#messageText{
    -fx-text-fill: #800000;
}

/* JFXTextField styles */
.jfx-text-field {
    -jfx-focus-color: #0A74DA; /* Blue focus color */
    -jfx-unfocus-color: #BDBDBD; /* Light grey for unfocused state */
    -fx-prompt-text-fill: #757575; /* Grey prompt text */
    -fx-text-fill: #0A74DA; /* Blue text color */
    -fx-background-color: white;
    -fx-font-size: 1em; /* Relative font size */
}

/* Hyperlink styles */
.hyperlink {
    -fx-text-fill: #0A74DA; /* Primary blue color */
    -fx-font-size: 1em; /* Relative font size */
}

.hyperlink:hover {
    -fx-text-fill: #084B8A; /* Darker blue on hover */
}

/* Button styles */
.button {
    -fx-background-color: #0A74DA; /* Primary blue color */
    -fx-text-fill: white;
    -fx-font-size: 1.2em; /* Relative font size */
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-padding: 0.8em 1.5em; /* Relative padding */
}

.toggle-button{
    -fx-text-fill: black;
}

.button:hover {
    -fx-background-color: #084B8A; /* Darker blue on hover */
}

/* HBox and VBox styles */
.vbox {
    -fx-spacing: 1em; /* Relative spacing */
}
#sideBox {
    -fx-background-color: #87CEFA;
}

/* Custom Insets for padding */
.padding {
    -fx-padding: 1em; /* Relative padding */
}