.root {
    -fx-background-color: #f5f5f5;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: Black;
    -fx-font-size: 1em;
}

.label {
    -fx-font-size: 0.85em;
    -fx-text-fill: black;
}

.hyperlink {
    -fx-font-size: 0.85em;
    -fx-text-fill: black;
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.hyperlink:hover {
    -fx-text-fill: darkblue;
}

.hyperlink:pressed {
    -fx-text-fill: darkblue;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: tansparent;
    -fx-text-fill: black;
    -fx-font-size: 1em;
    -fx-background-radius: 4;
}

.button:hover, .button:hover #icon {
    -fx-fill: #0A74DA;
    -fx-text-fill: #0A74DA;
}

.toggle-button {
    -fx-background-color: tansparent;
    -fx-text-fill: black;
    -fx-font-size: 1em;
    -fx-background-radius: 4;
}

.toggle-button:hover, .toggle-button:hover #icon {
    -fx-fill: #0A74DA;
    -fx-text-fill: #0A74DA;
}

.toggle-button:selected, .toggle-button:selected #icon {
    -fx-fill: #0A74DA;
    -fx-text-fill: #0A74DA;
}

.separator{
    -fx-background-color: #b2b2b2;
}

#followButton {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
}

#followButton:hover {
    -fx-background-color: #084B8A;
}

#icon {
    -fx-font-size: 1.5em;
    -fx-fill: black;
}

#nameLink, #repostLink {
    -fx-font-size: 1em;
}

#textArea  {
    -fx-font-size: 1em;
    -fx-fill: black;
}